.dashboard-stats {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.main-layout-homepage {
  padding-bottom: 45px;
}

.dashboard-title {
  padding-top: 20px;
  padding-bottom: 20px;
}

.cards-dashboard-container {
  display: flex;
  justify-content: space-between;
  gap: 65px;
  margin-bottom: 35px;
}

.bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 250px;
  box-shadow: #0000001f 0 6px 16px;
  border-radius: 15px;
}

.stats-card {
  padding: 25px;
  width: 350px;
  box-shadow: #0000001f 0 6px 16px;
  border-radius: 15px;
}

.dashboard-stats .cards-dashboard-container .stats-card h1 {
  text-align: center;
  padding-bottom: 30px;
}

.details {
  display: flex;
  flex-direction: column;
}

.rev-stat {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
  font-size: 1.1428571429em;
  font-weight: 600;
}

.canceled-stat {
  color: #b40000;
}

.total-stat {
  color: #338300;
}

.pending-stat {
  color: #0000db;
}

.dashboard-order-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #b0b0b0;
}

.dashboard-order-container div {
  text-align: center;
  padding: 5px;
  font-size: 14px;
}

.dashboard-order-container .date {
  width: 80px;
}

.dashboard-order-container .booker {
  width: 100px;
}

.dashboard-order-container .stay {
  width: 165px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dashboard-order-container .dates {
  width: 165px;
}

.dashboard-order-container .nights {
  width: 60px;
}

.dashboard-order-container .guests {
  width: 60px;
}

.dashboard-order-container .price {
  width: 80px;
}

.dashboard-order-container .total {
  width: 80px;
}

.dashboard-order-container .status {
  width: 120px;
}

.dashboard-order-container .actions {
  width: 160px;
}

.pie-container {
  box-shadow: #0000001f 0 6px 16px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 350px;
}

canvas {
  height: 180px !important;
  width: 307px !important;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.actions-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.approve-btn {
  border: 1px solid #008300;
  background-color: #008300;
}

.reject-btn {
  border: 1px solid #505050;
  background-color: #242424;
}

.actions-container button {
  color: #fff;
  padding: 5px 10px;
  font-size: 1em;
  transition: 0.1s;
  border-radius: 7px;
  opacity: 0.5;
}
