.reservation-container {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation-page {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 13px;
  justify-content: space-between;
}

.reseravaion-img {
  object-fit: cover;
  height: 220px;
  width: 300px;
  border-radius: 5px;
}

.img-info {
  padding: 15px;
  border-radius: 10px;
  box-shadow: #0000001f 0 6px 16px;
}

.reservation-details {
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px;
  box-shadow: inset 0 -0.5px 0 0 rgb(185, 185, 185);
  p {
    padding-bottom: 3px;
  }
}

.dates-info {
  padding-bottom: 8px;
}

.guest-info {
  padding-bottom: 8px;
}

.user-message {
  padding-top: 10px;
  width: 100%;
}

.reservation-header {
  box-shadow: inset 0 -0.5px 0 0 rgb(185, 185, 185);
  width: 100%;
  display: flex;
  padding-bottom: 10px;
}

.reservation-title {
  padding-top: 10px;
}

.sub-title {
  padding-top: 10px;
  padding-bottom: 15px;
}

.success-img {
  margin-left: 5px;
  margin-top: 10px;
  height: 30px;
  width: 30px;
  border-radius: 25px;
}

.trips-btn {
  border: none;
  background-color: #ff385c;
  margin: 20px 0;
  border-radius: 13px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 15px 10px;
  font-family: airbnb-regular, sans-serif;
  font-size: 1rem;
}

.home-btn {
  justify-content: center;
  border: none;
  background-color: #535353;
  margin: 20px 0;
  border-radius: 13px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 15px 10px;
  font-family: airbnb-regular, sans-serif;
  font-size: 1rem;
}

.bold-text {
  font-weight: bold;
  margin-right: 5px;
}

.home-router {
  margin-right: 20px;
}
