.reservation-container {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 0 #000;
  border-radius: 13px;
  justify-content: space-between;
}

.reseravaion-img {
  object-fit: cover;
  margin-right: 70px;
  height: 180px;
  width: 250px;
}

.reservation-details {
  margin-left: 70px;
}

.reservation-subtitle {
  text-align: center;
}

.reservation-details {
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-top: 10px;
  p {
    padding-bottom: 10px;
  }
}

.reservation-header {
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  padding-bottom: 10px;
}

.reservation-title {
  padding-top: 10px;
}

.success-img {
  margin-left: 5px;
  margin-top: 10px;
  height: 30px;
  width: 30px;
  border-radius: 25px;
}

.trips-btn {
  border: none;
  background-color: #ff385c;
  margin: 20px 0;
  border-radius: 13px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  width: 100%;
  padding: 15px 10px;
  font-family: airbnb-regular, sans-serif;
  font-size: 1rem;
}

.home-btn {
  border: none;
  background-color: #535353;
  margin: 20px 0;
  border-radius: 13px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  width: 100%;
  padding: 15px 10px;
  font-family: airbnb-regular, sans-serif;
  font-size: 1rem;
}

.final-line {
  padding-top: 10px;
  border-top: 1px solid #dbdbdb;
  padding-bottom: 10px;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

.bold-text {
  font-weight: bold;
  margin-right: 5px;
}

.home-router {
  margin-right: 5px;
}
