.trips-line {
  justify-content: space-between;
  border-bottom: solid 2px gray;
  width: 100%;
  padding: 1rem 0;
  font-size: 13px;
}

.trips-table-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem 0;
  font-weight: bold;
}

.trips-container button {
  font-size: 15px;
  border: none;
  background: lightgray;
  color: black;
  border-radius: 5px;
}

.trips-container button:hover {
  background-color: white;
}
