.trips-table {
  padding-top: 1.5rem;
}

.trips-table-title {
  border-bottom: solid 2px lightgray;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.75rem 0;
  font-weight: bold;
  li:first-child {
    padding-right: 25px;
  }
}

.trips-line {
  padding-bottom: 50px;
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.7rem 0;
  border-bottom: solid 2px lightgray;
  li {
    font-size: 14px;
    width: 120px;
    margin-right: 20px;
  }
}

.trips-container button {
  font-size: 15px;
  border: none;
  background: lightgray;
  color: black;
  border-radius: 5px;
}

.trips-container button:hover {
  background-color: white;
}
