.footer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: inset 0 0.5px 0 0 #ddd;
  color: #484848;
  font-size: 0.9rem;
  z-index: 15;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-block: 10px;
}

.btn {
  margin-right: 5px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.btn img {
  height: 20px;
}

.footer-info {
  align-items: center;
  justify-content: space-between;
  width: 25vw;
}

.footer-action {
  align-items: center;
  justify-content: space-between;
  width: 30vw;
}
