.large-search {
  opacity: 0%;
  transition: top 1s;
  transition: opacity 1s;
  z-index: 10;
  position: absolute;
  top: -120px;
  background-color: $clr3;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 8px 16px rgba(0, 0, 0, 0.15);
}
.large-search-modal {
  position: fixed;
  opacity: 100%;
  top: 61px;
  z-index: 10;
  transition: top 1s;
  transition: opacity 1s;
  background-color: white;
}

.filter-large-modal {
  width: 100%;
  display: flex;
  justify-content: center;
}

.small-nav {
  display: flex;
  width: 350px;
  align-items: center;
  justify-content: space-evenly;
  margin: 1.8rem auto;
  cursor: pointer;
}

.options {
  &:hover {
    color: $clr9;
    border-bottom: 1px solid $clr9;
  }
}

.option-active {
  color: black;
  border-bottom: 1px solid black;
}
