.header-search {
  margin: 1rem auto;
  display: inline-flex;
  border-radius: 3.2rem;
  overflow: hidden;
  align-items: center;
  border: 0.5px solid $clr9;
  color: var(clr1);
  height: rem(48px);
  box-shadow: none;
  &:hover {
    box-shadow: 1px 1px 3px 1px $clr9;
  }

  .header-separator {
    color: $clr5;
    font-weight: 50;
  }

  button {
    text-align: start;
    font-family: Circular;
    font-size: rem(14px);
    padding-left: 8px;
    background: transparent;
    height: 3rem;

    padding: 0 1rem;
    align-items: center;
    color: $clr2;
    border: none;
  }

  .add-btn {
    color: $clr5;
    display: flex;
    flex-grow: 2;
  }

  button:nth-of-type(4) {
    flex-grow: 1;
  }

  .filter-search-icon {
    border: none;
    justify-content: center;
    align-items: center;
    margin: 7px 7px 7px 0;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: $clr1;
    display: flex;
  }
}

.filter-search-icon img {
  color: white;
  width: 0.85rem;
  height: 0.85rem;
}

.font {
  color: rgb(113, 113, 113) !important;
}

//LARGE FILTER

.header-filter {
  position: relative;
  display: flex;
  margin-bottom: rem(23px);
  margin-top: rem(23px);
  border: 0.5px solid $clr9;
  border-radius: 50px;
  padding-inline-start: 0;
  overflow: hidden;
  align-items: center;
  height: 64px;
  width: 850px;
  justify-content: space-evenly;
  button {
    width: 100%;
    display: block;
    padding-left: 24px;
    padding-right: 24px;
    height: 100%;
    background: transparent;
    text-align: start;
    border: none;
    font-size: rem(14px);
    color: $clr5;
    font-family: Circular;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    border-radius: 2rem;

    &:hover {
      background-color: $clr7;
    }
  }
  .button-title {
    padding-bottom: 2px;
    padding-left: 2px;
    color: rgb(34, 34, 34);
    font-size: 12px;
    letter-spacing: 0.48px;
    line-height: 1rem;
  }
  .button-sub {
    font-size: 14px;
    min-width: rem(75px);
    color: rgb(113, 113, 113);
  }
}
.filter-search {
  letter-spacing: normal;
  cursor: pointer;
  font-family: Circular;
  margin: 7px 7px 7px 0;
  height: 48px;
  width: 48px;
  padding: 1rem;
  justify-self: end;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  border-radius: 24px;
  display: inline-flex;
  color: rgb(255, 255, 255);
  background-color: $clr1;
  span {
    padding-inline-start: 0.5rem;
  }
  img {
    margin-inline-end: 0;
    width: 1rem;
    height: 1rem;
  }

  .guests-btn-warper {
    align-items: center;
    justify-content: center;
  }
  &:hover {
    cursor: pointer;
  }
}

.destination-input {
  width: 100%;
  padding-inline-start: 0;
  text-align: start;

  input {
    border: hidden;
    &:focus {
      outline: none;
    }
    &:hover {
      cursor: pointer;
    }
    padding-bottom: 2px;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 32px;
    background-color: inherit;
  }
}

.guests-input {
  align-items: center;
}

.guests-modal {
  background-color: $clr3;
  border-radius: 2rem;
  padding: 1rem 2rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 8px 16px rgba(0, 0, 0, 0.15);
}

.calendar-modal {
  opacity: 0%;
  margin-top: 29.5rem;
  vertical-align: middle;
  background-color: $clr3;
  border-radius: 2rem;
  padding: 3rem 3rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 8px 16px rgba(0, 0, 0, 0.15);
}

.vc-container {
  height: 268px !important;
  width: 500px !important;
  top: 150px !important;
  position: fixed !important;
  left: 400px !important;
}

.btn-container {
  height: inherit;
}

.guest-picker {
  position: fixed;
  background-color: white;
  top: 160px;
  right: 250px;
  border-radius: 32px;
  padding: 16px 32px;
}

.num-input-cmp {
  font-size: 16px !important;
  border-bottom: solid 1px rgb(235, 235, 235) !important;
}

.num-input-cmp .item-label .title {
  color: rgb(34, 34, 34) !important;
  font-weight: bold;
}

.num-input-cmp .item-label .sub-title {
  color: rgb(113, 113, 113) !important;
  font-size: 14px !important;
}

.x-btn {
  margin-left: 12px;
  justify-self: end;
  background-color: transparent;
  border: 0.2rem solid transparent;
  color: $clr5;

  &:hover {
    color: $clr2;
  }
}

.guest-container {
  width: 100%;
  flex-direction: row;
  &:hover {
    &:hover {
      background-color: $clr7;
      cursor: pointer;
    }
  }
  border-radius: 2rem;
  .buttom-sub-gest {
    width: 100px;
  }
}

.separator-line {
  align-self: center;
  flex: 0 0 0;
  height: 23px;
  border-right: 1px solid rgb(221, 221, 221);
}

.date-btn {
  padding-top: 5px;
  padding-left: 24px;
  padding-right: 24px;
}

.where-btn {
  padding-right: 85px;
}

.search-input {
  padding-left: 2px;
  font-size: 14px !important;
  min-width: rem(75px);
  color: rgb(113, 113, 113);
}

.guests-sum {
  font-size: 14px;
  min-width: rem(75px);
  color: rgb(113, 113, 113);
}
