.stay-header {
  margin-top: 12px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.stay-name-preview {
  line-height: 19px;
  font-size: 15px;
  margin: 0;
}

.stay-type-preview {
  line-height: 19px;
  color: rgb(113, 113, 113);
  font-size: 15px;
}

.beds-num-preview {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 19px;
  color: rgb(113, 113, 113);
  font-size: 15px;
}

.stay-price-preview {
  line-height: 19px;
  font-size: 15px;
  margin-top: 6px;
}

.stay-preview-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  .el-carousel__button {
    width: 6px;
    height: 6px;

    border-radius: 50%;
  }
  .el-carousel__arrow {
    background-color: $clr3;
    opacity: 90%;
    color: $clr10;
    font-size: 1rem;
    border-radius: 50%;
    transition: font-size 1s opacity 1s;
    &:hover {
      opacity: 100%;
      box-shadow: 0 0 4px $clr3;
      background-color: $clr3;
      color: $clr2;
    }
  }
}

.carousel-img {
  border-radius: 10px;
  object-fit: cover;
}

.preview-img {
  border-radius: 20px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.card-img {
  position: relative;
}

.card-img .like-btn {
  position: absolute;
  top: 5%;
  left: 170%;
  background: none;
  cursor: pointer;
}

.card-img .liked {
  position: absolute;
  top: 5%;
  left: 170%;
  background: none;
  cursor: pointer;
}

.star {
  height: 14px;
  width: 14px;
  margin-top: 1px;
}

.heart-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 1;
  height: 24px;
  width: 24px;
}
