.open-user-modal {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 99;

  .user-nav {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px;
  }

  p {
    font-size: 14px;
    color: #343434;
    padding: 15px 20px;
    display: flex;
    width: 230px;
    height: 40px;
    align-items: center;
    justify-content: left;
    padding-left: 15px;
    cursor: pointer;

    &:hover {
      background-color: #ececec;
    }
  }
}

.dashboard-menu {
  margin-top: 0.5rem;
}

.logout-menu {
  margin-bottom: 0.5rem;
}

.user-modal-active {
  position: absolute;
  background-color: $clr3;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 8px 16px rgba(0, 0, 0, 0.15);
  border-radius: 3%;
  z-index: 5;
  top: -10px;
  opacity: 100%;
}

.user-modal {
  top: -500px;
  opacity: 0%;
}

.small-line {
  border-bottom: 00.5px solid $clr9;
}

.gray {
  color: black !important;
}
