.open-user-modal {
  display: flex;
  justify-content: flex-end;
  position: relative;

  p {
    display: flex;
    width: 230px;
    height: 30px;
    align-items: center;
    justify-content: left;
    padding-left: 10px;
    cursor: pointer;

    &:hover {
      // border-bottom: 1px solid $clr9;
      // color: $clr9;
      background-color: #ececec;
      border-radius: 10%;
    }
  }
}

.user-modal-active {
  position: absolute;
  background-color: $clr3;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 8px 16px rgba(0, 0, 0, 0.15);
  // border: 1px solid $clr9;
  border-radius: 3%;
  z-index: 5;
  top: -40px;
  opacity: 100%;
}

.user-modal {
  opacity: 0%;
  transition: opacity 1s;
}

.small-line {
  border-bottom: 00.5px solid $clr9;
}
